* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li {
  list-style: none;
}
@font-face {
	font-family: electronicFont;
	src: url(../font/DS-DIGIT.TTF);
}

body {
	background: url(../img/bg.jpg) no-repeat top center;
	line-height: 1.15;
}

body header {
	position: relative;
	height: 1.25rem;
	background: url(../img/head_bg.png) no-repeat;
	background-size: 100% 100%;
}

body header h1 {
	font-size: 0.475rem;
	color: #fff;
	text-align: center;
	line-height: 1rem;

}

header .showtime {
	position: absolute;
	top: 0;
	right: 0.375rem;
	line-height: 0.9375rem;
	font-size: 0.25rem;
	color: rgba(255, 255, 255, 0.7);
}

/* 页面主题部分 */
.mainbox {
	padding: 0.125rem 0.125rem 0;
	display: flex;
	min-width: 1024px;
	max-width: 1920px;
	margin: 0 auto;
}

.mainbox .column {
	flex: 3;
}

.mainbox .column:nth-child(2) {
	flex: 5;
	margin: 0 0.125rem 0.1875rem;
	overflow: hidden;
}

.panel {
	position: relative;
	height: 3.875rem;
	border: 1px solid rgba(25, 186, 139, 0.17);
	background: url(../images/line\(1\).png);
	padding: 0 0.1875rem 0.5rem;
	margin-bottom: 0.1875rem;
}

.panel::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	width: 10px;
	height: 10px;
	    border-top: 2px solid #02a6b5;
	    border-left: 2px solid #02a6b5;
}

.panel::after {
	position: absolute;
	top: 0;
	right: 0;
	content: "";
	width: 10px;
	height: 10px;
	border-top: 2px solid #02a6b5;
	border-right: 2px solid #02a6b5;
}

.panel-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.mainbox .panel .panel-footer::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #02a6b5;
	border-left: 2px solid #02a6b5;
}

.mainbox .panel .panel-footer::after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	width: 10px;
	height: 10px;
	border-bottom: 2px solid #02a6b5;
	border-right: 2px solid #02a6b5;
}

.mainbox .panel h2 {
	height: 0.6rem;
	color: #FFFFFF;
	line-height: 0.6rem;
	text-align: center;
	font-size: 20px;
	font-weight: 400;
}

.mainbox .panel h2 a {
	text-decoration: none;
	color: #FFFFFF;
}

.mainbox .panel .chart {
	height: 3rem;
}

/* no 数字模块 */
.no {
	background: rgba(77, 152, 226, 0.2);
	padding: 0.1875rem;
}

.no-hd {
	position: relative;
	border: 1px solid rgba(77, 152, 226, 0.3);
}

.no-hd::before {
	content: "";
	position: absolute;
	width: 30px;
	height: 10px;
	border-top: 2px solid #02a6b5;
	border-left: 2px solid #02a6b5;
	top: 0;
	left: 0;
}

.no-hd::after {
	content: "";
	position: absolute;
	width: 30px;
	height: 10px;
	border-bottom: 2px solid #02a6b5;
	border-right: 2px solid #02a6b5;
	right: 0;
	bottom: 0;
}

.no-hd ul {
	display: flex;
}

.no-hd ul li {
	position: relative;
	flex: 1;
	text-align: center;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.875rem;
	color: #ffeb7b;
	padding: 0.05rem 0;
	font-family: electronicFont;
	font-weight: bold;
}

.no-hd ul li::after {
	content: "";
	position: absolute;
	height: 50%;
	width: 1px;
	background: rgba(255, 255, 255, 0.2);
	right: 0;
	top: 25%;
}

.no-bd ul {
	display: flex;
}

.no-bd ul li {
	flex: 1;
	height: 0.5rem;
	line-height: 0.5rem;
	text-align: center;
	font-size: 0.225rem;
	color: rgba(255, 255, 255, 0.7);
	padding-top: 0.125rem;
}

.map {
	position: relative;
	height: 10.125rem;
}

.map .map1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 6.475rem;
	height: 6.475rem;
	animation: rotate1 20s linear infinite;
	background: url(../img/map.png);
	background-size: 100% 100%;
	opacity: 0.3;
}

.map2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8.0375rem;
	height: 8.0375rem;
	background: url(../img/lbx.png);
	animation: rotate1 15s linear infinite;
	opacity: 0.6;
	background-size: 100% 100%;
}

.map3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 7.075rem;
	height: 7.075rem;
	background: url(../img/jt.png);
	animation: rotate2 10s linear infinite;
	opacity: 0.6;
	background-size: 100% 100%;
}

.map .chart {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10.125rem;
}

/* .map2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background: url(../img/c213d16c0a6164eced1acc7214c825d674a4810a576e2-KzfyJa_fw1200.gif);
	opacity: 0.3;
	animation: rotate1 15s linear infinite;
} */
@keyframes rotate1 {
	form {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

/* 约束屏幕尺寸 */
@media screen and (max-width: 1024px) {
	html {
		font-size: 42px !important;
	}
}

@media screen and (min-width: 1920px) {
	html {
		font-size: 80px !important;
	}
}
